.word-break-all {
  word-break: break-all !important;
}

// TODO: Update edx-bootstrap theme to incorporate these edits.
.btn, a.btn {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.btn-link {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

#avatar, #panding {
  background-color: #DDD8E8;
  height: 150px;
  width: 150px;
  border: 3px solid #F6F7FA;
  border-radius: 50%;
  transition: background ease-out 200ms;
}

#preview {
  position: relative;
}

#image {
  display: none;
}

#upload-button {
  padding: 18px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #F6F7FA;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  transition: background-color ease-out 120ms;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

//#upload-button:hover {
//  background-color: #45a;
//}
